//Colors

$color1: #fff;
$color2: rgb(39, 39, 39);
$color3: #22313dea;
$color4: #38241c86;
$color5: #a2becec2;
$color6: #e7b09ac9;

//Fonts

@mixin text1($size, $color) {
  font: $size "Rajdhani", sans-serif;
  color: $color;
}
