.horizontal {
  display: flex;
  justify-content: space-between;
  height: auto;
  position: relative;
}

.about,
.appointment {
  background-color: $color4;
  width: 40px;
}

h2,
h3 {
  @include text1(20px, $color1) width: 150px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: fixed;
  top: 35%;
  background-color: $color3;
}

h2 {
  left: 0px;
  border-radius: 0px 90px 120px 0px;
}

h3 {
  right: 0px;
  border-radius: 160px 0px 0px 100px;
}
