nav {
  display: flex;
  align-items: center;
  width: auto;
  height: 60px;
  background-color: $color3;
  position: relative;
}

.languages {
  position: absolute;
  right: 5%;
  display: flex;
  width: 60px;
}

a {
  @include text1(20px, $color1);
  text-decoration: none;
  margin-left: 10px;
  padding: 2px 6px;

  &:hover {
    background-color: $color1;
    color: $color2;
    border-radius: 10px 14px 12px 26px;
  }
}
