.vertical {
  width: 600px;
  margin-top: 60px;
  margin-bottom: 80px;
}

.logo {
  width: 250px;
  margin-left: 170px;
}

h1,
h4,
h5 {
  @include text1(30px, $color2);
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px;
}

p {
  @include text1(20px, $color2);
  margin-bottom: 30px;
  text-align: justify;
}
