.vertical {
  position: relative;
  width: 600px;
  padding: 0px 50px;
  margin-top: 60px;
  margin-bottom: 80px;
}

.logo {
  width: 180px;
  position: absolute;
  left: 37%;
}

h1 {
  @include text1(30px, $color2);
  text-align: center;
  margin-top: 70px;
  margin-top: 220px;
  margin-bottom: 30px;
}

h4,
h5,
h6 {
  @include text1(30px, $color2);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

p {
  @include text1(20px, $color2);
  margin-bottom: 30px;
  text-align: justify;
}

.first {
  background-color: $color5;
  padding: 20px;
  margin-top: 90px;
  margin-bottom: 50px;
  border-radius: 200px 180px 220px 140px;
}

.second {
  background-color: $color6;
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 200px 230px 300px 280px;
}

.third {
  background-color: $color7;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 200px 180px 180px 140px;
}
