* {
  margin: 0px;
  padding: 0px;
}
body {
  background-image: url("/Assets/watercolor.jpeg");
  background-attachment: fixed;
}

//Imports
@import "general";
@import "nav";
@import "horizontal";
@import "vertical";
@import "footer";
@import "media";
