* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("/Assets/watercolor.jpeg");
  background-attachment: fixed;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 40px;
  background-color: #242d35c0;
  position: relative;
}

.languages {
  position: absolute;
  right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
}

a {
  font: 20px "Rajdhani", sans-serif;
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
  padding: 2px 6px;
}

a:hover {
  background-color: #fff;
  color: #272727;
  border-radius: 10px 14px 12px 26px;
}

.horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  position: relative;
}

.about,
.appointment {
  background-color: #080d136b;
  width: 20px;
  position: relative;
}

.aboutmarcelo {
  position: fixed;
  top: 65px;
  left: 100px;
  width: 500px;
  padding: 0px 60px 60px 60px;
  display: none;
}

.marceloface {
  width: 150px;
  margin-bottom: 50px;
}

.little {
  font: 18px "Rajdhani", sans-serif;
  color: #fff;
  margin-bottom: 30px;
  text-align: justify;
}

.about:hover {
  width: 1000px;
}

.about:hover .aboutmarcelo {
  display: block;
}

.aboutappointment {
  position: fixed;
  top: 65px;
  right: 100px;
  width: 500px;
  padding: 0px 60px 60px 60px;
  display: none;
}

.appointment:hover {
  width: 1000px;
}

.appointment:hover .aboutappointment {
  display: block;
}

h2,
h3 {
  font: 20px "Rajdhani", sans-serif;
  color: #fff;
  width: 150px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: fixed;
  top: 35%;
  background-color: #242d35c0;
  -webkit-box-shadow: 0px 1px 7px -3px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 1px 7px -3px rgba(0, 0, 0, 0.75);
}

h2 {
  left: 0px;
  border-radius: 0px 90px 120px 0px;
}

h3 {
  right: 0px;
  border-radius: 160px 0px 0px 100px;
}

.vertical {
  width: 600px;
  padding: 0px 50px;
  margin-top: 60px;
  margin-bottom: 80px;
}

.logo {
  width: 250px;
  margin-left: 170px;
}

h1,
h4,
h5 {
  font: 30px "Rajdhani", sans-serif;
  color: #272727;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px;
}

p {
  font: 20px "Rajdhani", sans-serif;
  color: #272727;
  margin-bottom: 30px;
  text-align: justify;
}

footer {
  height: 60px;
  background-color: #242d35c0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.logocoak {
  width: 40px;
  position: absolute;
  left: 50%;
}
/*# sourceMappingURL=style.css.map */